<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
<form class="text-center" th:method="POST" th:action="@{/auth/registration}" th:object="${userwebapp}">
    <label for="users">Username:</label><br>
    <input type="text" id="users" th:field="*{username}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}"><br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
