<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>Приветствую тебя</h2>
<p>Авторизация</p>
<p><a class="nav-link" th:href="@{/auth/login}">Войти</a></p>
<p><a class="nav-link" th:href="@{/auth/registration}">Регистрация</a></p>
<p><a class="nav-link" th:href="@{/logout}">Logout</a></p>
<br>
<p>Страницы</p>
<p><a class="nav-link" th:href="@{/admin_panel}">Панель Администратора</a></p>
<p><a class="nav-link" th:href="@{/requests}">Панель Пользователя (Заявки)</a></p>
<p><a class="nav-link" th:href="@{/operator_panel}">Панель Оператора</a></p>
<br>
<br>
<h2>Тестовые кнопки</h2>
<p><a class="nav-link" th:href="@{/admin}">Админ</a></p>
<p><a class="nav-link" th:href="@{/operator}">Оператор</a></p>
<p><a class="nav-link" th:href="@{/user}">Юзер</a></p>
</body>
</html>