<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<h2>Create Request</h2>
<form th:method="POST" th:action="@{/requests/create}" th:object="${requestDTO}">
    <label for="text">Введите текст: </label>
    <input type="text" th:field="*{text}" id="text"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Ошибка текста</div>
    <br/>

    <input type="submit" value="Создать"/>
</form>

<h2>My Requests</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Text</th>
        <th>
            <a th:href="@{/requests(page=${currentPage}, sort=${sort == 'createdAt_desc' ? 'createdAt_asc' : 'createdAt_desc'})}">
                Date
            </a>
        </th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requests}">
        <td th:text="${request.id}"></td>
        <td th:text="${request.status}"></td>
        <td th:text="${request.text}"></td>
        <td th:text="${#temporals.format(request.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></td>
        <td>
            <div th:if="${request.status.toString() == 'DRAFT'}">
                <form th:action="@{/requests/edit/{requestId}(requestId=${request.id})}" th:method="POST">
                    <input type="hidden" name="requestId" th:value="${request.id}"/>
                    <label for="newText">Введите текст для редактирования: </label>
                    <input type="text" id="newText" name="newText" th:value="${request.text}"/>
                    <button type="submit">Редактировать</button>
                </form>
                <form th:action="@{/requests/submit/{requestId}(requestId=${request.id})}" th:method="POST">
                    <input type="hidden" name="requestId" th:value="${request.id}"/>
                    <button type="submit">Отправить на рассмотрение</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination" style="display: inline-block;">
    <span th:if="${currentPage > 0}">
        <a th:href="@{/requests?page=0}"><<</a>
    </span>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/requests?page=__${currentPage - 1}__}"><</a>
    </span>
    <span th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
        <span th:if="${pageNum == currentPage}">
            <span th:text="${pageNum + 1}"></span>
        </span>
        <span th:unless="${pageNum == currentPage}">
            <a th:href="@{/requests?page=__${pageNum}__}" th:text="${pageNum + 1}"></a>
        </span>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/requests?page=__${currentPage + 1}__}">></a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/requests?page=__${totalPages - 1}__}">>></a>
    </span>
</div>

</body>
</html>
